body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrap-3 {
  display: flex;
  flex-wrap: wrap;
}

.wrap-3 > div {
  width: 33.33%; /* Set the width to one-third to create three columns */
  box-sizing: border-box;
  padding: 5px; /* Add padding for spacing between images */
}

.coordinates-display {
  display: flex;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
}

.dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  border: 1px solid black;
}
.red-dot {
  background-color: red;
}

.yellow-dot {
  background-color: yellow;
}
.pink-dot {
  background-color: #ff1493;
}
.blue-dot {
  background-color: blue;
}
.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
.red-button {
  background-color: red;
  color: white;
}

.yellow-button {
  background-color: yellow;
  color: black;
}

.pink-button {
  background-color: #ff1493;
  color: white;
}
.blue-button {
  background-color: blue;
  color: white;
}

.white-blue-background {
  background-color: #84C1FF;
}
